{% extends "base_en.twig" %}

{% block style %}
<link rel="stylesheet" href="css/style.css">
{% endblock style %}

{% block main %}

<section class="createur">
    <article>
        <h2>Who created the bicycle?</h2>
        <aside>
            <img src="./images/accueil_friedrich.jpg" alt="Portrait Karl Drais Friedrich">
            <ul>
                <li>Name : Karl Drais</li>
                <li>First name : Friedrich</li>
                <li>Date of birth: April 27, 1785</li>
                <li>Date of death: December 10, 1851</li>
            </ul>
        </aside>
        <p>
            The bicycle was created by the German baron <i>Karl Drais von Sauerbronn</i> in 1817. The bicycle is a
            human-powered land vehicle that falls into the category of cycles and is composed of two aligned wheels,
            which give it its name.
        </p>
        <p>
            The driving force is provided by the driver (called the "rider"), usually in a seated position, through two
            pedals driving the rear wheel by a roller chain.
        </p>
        <p>
            The front wheel is the steering wheel and ensures the balance. Its orientation is controlled by a handlebar,
            which the cyclist uses to control the trajectory as well as the braking (except for special models) and
            possibly the gear change.
        </p>
        <p>
            The bicycle is one of the main means of transportation in many parts of the world. Its energy efficiency is
            particularly high. Its practice, cycling, is at the same time a daily use of transport, a popular leisure
            and a and a sport.
        </p>
    </article>
</section>

<section class="accessibilite-velo">
    <article>
        <h2>Its accessibility</h2>
        <h3>Who is the bike for?</h3>
        <div class="texte-conteneur">
            <div>
                <img src="./images/accueil_famillevelo.jpg" alt="Family bike outing">
            </div>
            <div>
                <h4>It's for everyone!</h4>
                <p>
                    Bicycles are a sport that can be practiced by everyone! The only constraint is to own one! It is an
                    ideal tool for family outings, with friends and even for sports purposes!
                </p>
            </div>
        </div>
    </article>
    <article class="quel-budjet">
        <h3>For which budget?</h3>
        <div class="texte-conteneur">
            <div>
                <h4>For all wallets!</h4>
                <p>
                    Indeed, there are bikes at all prices, prices can vary from several hundred euros to several
                    thousand euros! For those who can't afford to buy one, in some cities there is the possibility to
                    rent a bike for very little money!
                </p>
            </div>
            <div>
                <img src="./images/accueil_budget.jpeg" alt="Homme faisant VTT dans la fôret">
            </div>
        </div>
    </article>
    <article>
        <h3> A dangerous sport?</h3>
        <div class="texte-conteneur">
            <div>
                <img src="./images/accueil_sportdangereux.jpg" alt="Personne chutant dans les bois">
            </div>
            <div>
                <h4>A sport with risks</h4>
                <p>
                    Cycling is as dangerous a sport as any other. It is important to be very careful of the environment
                    around you to avoid any accidents. It requires protections in order to be a minimum protect them.
                </p>
            </div>
        </div>
    </article>
</section>

{% endblock %}