{% extends "base.twig" %}

{% block style %}
<link rel="stylesheet" href="css/style.css">
{% endblock style %}

{% block main %}

<section class="createur">
    <article>
        <h2>Qui a crée le vélo ?</h2>
        <aside>
            <img src="./images/accueil_friedrich.jpg" alt="Portrait Karl Drais Friedrich">
            <ul>
                <li>Nom : Karl Drais</li>
                <li>Prénom : Friedrich</li>
                <li>Date de naissance : 27 avril 1785</li>
                <li>Date de décès : 10 décembre 1851</li>
            </ul>
        </aside>
        <p>
            Le vélo a été crée par le baron allemand <i>Drais von Sauerbronn</i> en 1817. Le vélo est un
            véhicule terrestre à propulsion humaine entrant dans la catégorie des cycles et
            composé de deux roues alignées, qui lui donnent son nom.
        </p>
        <p>
            La force motrice est fournie parson conducteur (appelé « cycliste »), en position le plus souvent
            assise, par l'intermédiaire dedeux pédales entraînant la roue arrière par une chaîne à rouleaux.
        </p>
        <p>
            La roue avant est directrice et assure l'équilibre.Son orientation est commandée par
            un guidon, que le cycliste utilise pour contrôler la trajectoire ainsi que le freinage
            (sauf modèles particuliers) et éventuellement le changement des vitesses.
        </p>
        <p>
            La bicyclette est l'un des principaux moyens detransport dans de nombreuses parties du monde. Son
            efficacité énergétique est particulièrement
            élevée. Sa pratique, le cyclisme, constitue à la fois un usage quotidien de transport, un loisir
            populaire et un sport.
        </p>
    </article>
</section>

<section class="accessibilite-velo">
    <article>
        <h2>Son accessibilité</h2>
        <h3> Le vélo, c'est pour qui?</h3>
        <div class="texte-conteneur">
            <div>
                <img src="./images/accueil_famillevelo.jpg" alt="Sortie vélo en famille">
            </div>
            <div>
                <h4>C'est pour tout le monde !</h4>
                <p>
                    Le vélos est un sport qui peut être pratiquer par tout le monde ! La seul contrainte, c'est
                    d'en posséder un ! C'est un outil idéal pour faire des sorties en familles, entre amis et
                    même a des fins sportifs !
                </p>
            </div>
        </div>
    </article>
    <article class="quel-budjet">
        <h3> Pour quel budjet ?</h3>
        <div class="texte-conteneur">
            <div>
                <h4>Pour tout les portes-monnaies !</h4>
                <p>
                    En effet, il existe des vélos à tout les prix, les prix peuvent varier de plusieurs centaines
                    d'euros à plusieurs millier d'euros ! Vous en procurer car dans certaines villes il y a la
                    possibilité de louer des vélos pour pas chère du tout !
                </p>
            </div>
            <div>
                <img src="./images/accueil_budget.jpeg" alt="Homme faisant VTT dans la fôret">
            </div>
        </div>
    </article>
    <article>
        <h3> Un sport dangereux ?</h3>
        <div class="texte-conteneur">
            <div>
                <img src="./images/accueil_sportdangereux.jpg" alt="Personne chutant dans les bois">
            </div>
            <div>
                <h4>Un sport qui comporte des risques</h4>
                <p>
                    Le vélo est un sport tout autant dangereux que les autres. Il est important d'être très à
                    prudent à l'environnement qui vous entour afin d'éviter tout accident. Il nécessite des
                    protections afin d'être un minimum protéger celles-ci.
                </p>
            </div>
        </div>
    </article>
</section>

{% endblock %}